<div class="form-group">
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
          <input class="input100" type="email" name="email" id="email" placeholder="Email" required
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="emailAddress" #email="ngModel">
          <span class="focus-input100"></span>
        </div>
        <div>&nbsp;
                    <span class="text-danger" *ngIf="email.errors?.['required']">Please enter your email address</span>
                    <span class="text-danger" *ngIf="email.errors?.['pattern']">Please provide a valid email address !</span>
        </div>
      <button mat-raised-button class="send-button" (click)="!email.errors &&sendEmail()">Send Email</button>
      <a (click)="formName.emit('login')" style="color:white;margin-left: 10px;cursor: pointer;">Back To Login</a>
      <div class="text-danger" style="padding:20px">{{authStatus}}</div>
</div>
