<section class="ftco-section" id="cards" *ngIf="!status">
  <div class="container">
    <div class="row">
      <div class="col-md-4 cardheader" *ngFor="let user of users">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div class="icon d-flex justify-content-center align-items-center bg-success rounded-circle fa fa-envelope-open">
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{user.email}}</p>
            <a routerLink="/editUser" class="btn btn-success" style="background-color: black;">Edit Profile</a>
          </div>
        </div>
      </div>
     </div>
  </div>
</section>
<div *ngIf="status !=''" class="errorMessage">{{ status}} </div>
