
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="example-form-field" >
      <mat-label class="reportfield">Choose a date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [(ngModel)]="startDate" class="reportfield">
      <input matEndDate placeholder="End date" [(ngModel)]="endDate" class="reportfield">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker ></mat-date-range-picker>
   </mat-form-field >
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button (click)="onApply()">Apply</button>
  </div>

