.responsive {
  width: 90%;
  height: auto;
}
.profile-text {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  color: #888
}
.profile-title {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin: 5px;
}
.image-cell {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  border-radius: 100%;
}
