<app-header></app-header>
<!-- <div class="welcome py-1" style="background-image:url('../assets/images/iot.jpg');background-size: cover;">
        <div class="container py-xl-1 py-lg-1" id="services">
            <div class="row">
                <div class="col-lg-5 welcome-left">
                    <h3 class="title-w3ls mt-2 mb-3">GAO IoT System</h3>

                    <p class="mt-4 pr-lg-5">An Internet of Thing System based on the WEB 2 technology and Spring Framework
                    </p>
                    <p align="left" style="padding-top:10px">
                      The system is developed based on the latest Spring Framework on the backend and Angular Framework on the frontend. The system supports business module and device adapter
                      plug-ins with stateless REST web services support using JWT based authoriztation.
                    </p>
                    <p align="left" style="padding-top:10px">
                      ewkrjwerj ewrkweewlkelew l;rkwel kwl;kl;ke l;ewl; krl;kl   welrkwl  ewlkwel; krl; l;l;
                      wejrwerwekrlwkr werkl ewrwer ewrwe rwer werwe rwer
                      werewr ewr rwer ewr werwe
                    </p>
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-4 service-1-w3pvt serve-gd1">
                            <div class="serve-grid mt-4">
                                <span ><img src="./assets/images/fixed-reader.png"></span>
                                <p class="mt-2">Fixed RFID Readers </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd2">
                            <div class="serve-grid mt-4">
                                <span ><img src="./assets/images/handheld-reader.jpg"></span>
                                <p class="mt-2">Handheld RFID Readers </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span ><img src="./assets/images/tags.png"></span>
                                <p class="mt-2">RFID Tags </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd3">
                            <div class="serve-grid mt-4">
                                <span ><img src="./assets/images/software.jpg"></span>
                                <p class="mt-2">RFID Systems </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span><img src="./assets/images/rest-api.png"></span>
                                <p class="text-li mt-2">System Integrations </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span><img src="./assets/images/support.jpg"></span>
                                <p class="mt-2">Customer Support </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<div class="app">
  <!-- ----------- Hero Section ----------- -->
  <div class="hero-wrapper">
    <div class="hero-mask">
      <div class="hero">
        <div class="hero-l">
          <h4>GAO IoT System</h4>
          <h1>
            A cloud based enterprise scale
            IoT solution
          </h1>
          <p>
            The system is developed based on the latest Spring Boot Framework on the backend and Angular Framework on the frontend. The system supports business module and device adapter
            plug-ins with stateless REST web services support using JWT based authoriztation.
          </p>
          <input class="button-5" type="button" onclick="location.href='https://www.gaorfid.com';" value="Sign Up Today" />&nbsp;
          <input class="button-5" type="button" routerLink="/login" value="Login" />
        </div>
      </div>
    </div>
  </div>
</div>
