<div class="content" role="main">
  <mat-drawer-container autosize>
    <h2 class="heading-21921">Change User [{{model.name }}] Password</h2>
    <div style="padding: 30px;">
      <mat-form-field appearance="fill" style="display: block;">
        <mat-label>Old Password</mat-label>
        <input matInput name="Password" type="password" minlength="5" placeholder="Please Provide Old Password"
               [(ngModel)]="model.password" #oldPassword='ngModel'
               (ngModelChange)="isOldPasswordValid = oldPassword.valid ?? false"/>
      </mat-form-field>
      <mat-form-field appearance="fill" style="display: block;">
        <mat-label>New Password</mat-label>
        <input matInput name="Password" type="password" minlength="5" placeholder="Please Provide New Password"
               [(ngModel)]="model.newPassword" #password='ngModel'
               (ngModelChange)="checkPasswordsMatch(); (isPasswordValid = password.valid ?? false)"/>
      </mat-form-field>
      <mat-form-field appearance="fill" style="display: block;">
        <mat-label>Confirm Password</mat-label>
        <input matInput name="ConfirmPassword" type="password" minlength="5"
               placeholder="Please Confirm Password"
               [(ngModel)]="confirm_password" #confirmPassword='ngModel' (ngModelChange)="checkPasswordsMatch()"/>
      </mat-form-field>
      <div>&nbsp;
        <span class="text-danger" id="errorDisplay"></span>
      </div>

      <div>
        <button style="margin-right:20px" class="btn btn-primary"
                [disabled]="!isOldPasswordValid || !isPasswordValid || !passWordMatch" (click)="onSubmit()">Change
          Password
        </button>
        <button style="margin-right:20px" class="btn btn-primary" (click)="onBack()">Back</button>
      </div>
    </div>
    <div class="text-danger">{{status}}</div>
  </mat-drawer-container>
</div>

